.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  background-color: rgb(203, 255, 203);
}

h1 {
  margin: 2rem 0;
}

input {
  width: 80%;
  font-size: 0.9rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid black;
}

.output {
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.fruitDiv {
  margin: 1rem 0;
}

.fruitDiv span {
  margin: 0.5rem;
  font-size: 1.75rem;
  cursor: pointer;
}
